<html>
<head>
    <title>Module 6 | Team 15</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/movie.css">
</head>
 
<body>
 
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home"> <span style="font-family: arial;">Team-15 MovieDB</span></span>
          </a>
        </div>
        <div class="collapse navbar-collapse">  
            <ul class="nav navbar-nav">
              <li><a href="/#" id="btn-now-showing">Now Showing</a></li>
              <li><a href="/">Upcoming List</a></li>
              <li><a href="/">Popular List</a></li>
              <li><a href="/">Top Rated</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search" id='form-search'>
                <div class="form-group">
                  <input type="text" id="search-query" class="form-control input-query" name='query' placeholder="Search">
                </div>
                <button type="submit" class="btn btn-danger">Search</button>
              </form>
                </div><!--/.nav-collapse -->
              </div>
            </div>
           
    <div class="container" style='top: 70px; position: relative;'>
        <div class="backdrop"></div>
        <div class="movie-view">
            <!-- Portfolio Item Heading -->
                    <h1 class="page-header" id="title" style="color: black; position: relative; 
    margin-top: 10px; margin-left: 10px; border-bottom:">
                    </h1>
            <!-- /.row -->
 
            <!-- Portfolio Item Row -->
            <div class="row">
 
                <div class="col-md-8" id="trailer" style="width: 570px;">
                   
                </div>
 
                <div class="col-md-4" id="synopsis">
                    <h3 style="color: oldlace;">Synopsis</h3>
                    <p id="overview"></p>
                </div>
                <div id="castdiv">
                    <h3 style="color: oldlace;">Casts</h3>
                    <ul id="casts" style="display: inline-block;">
                    </ul>
                </div>
                <div id="tagvote">
                    <p style="float: left; margin-right: 15px;">Tagline: </p>
                    <p><em  id="tagline"></em> </p>
                    <p style="float: left; margin-right: 15px;">Vote Average: </p>
                    <p id="votes"> </p>
                </div>
 
            </div>
            <!-- /.row -->
 
            <!-- Related Projects Row -->
 
                <div>
                    <h3 class="page-header" style="color: black;">Similar Movies</h3>
                </div>

            <div class="col-md-6" style="width: 1100px;">
                <li id="similar" class="col-md-6" style="width: 1100px;"></li>

 
                <div id="similar">
                    
                </div>

 
            </div>
 
            <!-- /.row -->
 
            <hr>
 
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright © Team 15 | Advance Web Computing</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>
        <div class="movie-list" style=" ">
        </div>
    </div><!-- /.container -->
    <script src="/static/js/vendors/jquery.js"></script>
    <script src="/static/js/vendors/bootstrap.min.js"></script>
    <script src="/static/js/vendors/handlebars.js"></script>
    <script src="/static/js/app.js"></script>
    <script type="text/javascript">
      movieBasic("{{id}}");
    </script>

    {% raw %}
    <script type="text/x-handlebars-template" id="tpl-displayCar" >
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
      <img src="{{img4}}" alt="">
      <div class="carousel-caption">
       
      </div>
    </div>
    <div class="item">
      <img src="{{img1}}" alt="">
      <div class="carousel-caption">
      </div>
    </div>
 
    <div class="item active">
      <img src="{{img2}}" alt="">
      <div class="carousel-caption">
       
      </div>
    </div>
   
 
   
   
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
        </script>
        {% endraw %}
</body>
    
</html>